body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* #cert-id, #name, #org-name, #course-name{
  display: block;
  position: relative;
  margin: 20px auto;
  line-height: 14px;
  width: 400px;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #474747;
  text-indent: 8px;
} */

input:focus {
  border-color: rgb(123, 218, 210);
  border: 0.5px;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(68, 160, 221, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(88, 169, 235, 0.6);
}  

input[type="file"] {
  color: #b8b8b8;
}


input[type="file"]:hover{
  cursor: pointer;

}

input[type=file]::file-selector-button {
  display: none;
}

input[type=file]::before {
  color: rgb(134, 134, 134);
  margin-right: 10px; 
}

input[type=submit]{
  display:none
}
